PORT=8787

HOME_ASSISTANT_URL=http://homeassistant.local:8123
HOME_ASSISTANT_TOKEN=

GATEWAY_API_KEY=

ALLOWED_DOMAINS=light,switch,scene,script,climate,cover
ALLOWED_ENTITIES=

READ_ONLY=false

LOG_LEVEL=info
